.error-wrapper{
    position: fixed;
    top:0;
    left:0;
    text-align: center;
    width: 100vw;
    min-height: 3.25em;
    line-height: 2.25em;
    font-weight: bold;
    font-size: 1.25rem;
    color: white;
    background: #ff5353;
}