@import "color.scss";
.form {
    flex: 1;
    >nav {
        padding: 1em;
        text-align: center;
        
    }
    .signForm {
        >.row {
            display: flex;
            justify-content: center;
            padding: .3em 2em;
            input {
                flex: 1;
                padding: .3em;
                padding-left: .6em;
            }
            &.actions {
                button {
                    flex: 1;
                    background-color: $LightPink;
                    padding: .5em 0;
                    margin-right: .3em;
                    &:last-child{
                        margin-right: 0;
                    }
                }
                
            }
        }
    }
}

input {
    border: 2px solid $LightPink;
    &[type=radio] {
        display: none;
    }
    &:required {
        // border: 2px solid $Pink;
    }
    &:invalid {
        // border: 1px solid red;
    }
    &:valid {
        border: 2px solid $Pink;
    }
}

label{
    cursor: pointer;
    padding: .5em .3em;
    margin: 0 1em;
    transition-property: color, border;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    &.active{
        color: $Pink;
        border-bottom: 2px solid $Pink;
    }

}

