.icon {
    width:1.85em;
    height: 1.85em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.todo-wrapper {
    //display: flex;
    //justify-content: center;
    //align-items: center;
    //flex-direction: column;
    .todo-input-wrapper {
        // max-width: 28.125rem;
        width: 100vw;
        >div {
            position: relative;
            background: white;
            border-bottom: 1px solid #ccc;
            >label {
                opacity: .3;
                font-weight: bold;
                position: absolute;
                top: 50%;
                left: 20px;
                transform: translateY(-50%);
            }
            >input[type="text"],
            >input[type="checkbox"] {
                width: 100%;
                border: 0;
                padding: 1.25rem 1.25rem 1.25rem 3.125rem;
                background: #eee;
                &:focus {
                    outline: 0;
                    background: white;
                    &+label {
                        opacity: 0;
                    }
                }
                &:valid {
                    // background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/check.svg);
                    // background-size: 20px;
                    // background-repeat: no-repeat;
                    // background-position: 20px 20px;
                    &+label {
                        opacity: 0;
                    }
                }
                &:invalid:not(:focus):not(:placeholder-shown) {
                    background: pink;
                    &+label {
                        opacity: 0;
                    }
                }
                &:invalid:focus:not(:placeholder-shown) {
                    &~.requirements {
                        max-height: 200px;
                        padding: 0 30px 20px 50px;
                    }
                }
            }
            .requirements {
                padding: 0 30px 0 50px;
                color: #999;
                max-height: 0;
                transition: .28s;
                overflow: hidden;
                color: red;
                font-style: italic;
            }
        }
    }
    .todo-lists-wrapper {
        // max-width: 28.125rem;
        width: 100vw;
        .todo-item-wrapper {
            >div {
                position: relative;
                background: white;
               
                >label {
                    opacity: .3;
                    font-weight: bold;
                    position: absolute;
                    top: 1.25em;
                    left: 1.25em;
                }
                >input[type="text"] {
                    color: transparent;
                    width: 100%;
                    border: 0;
                    border-bottom: 1px solid #ccc;
                    padding: 1.25rem 1.25rem 1.25rem 3.125rem;
                    background: #eee;
                    &:focus {
                        color: black;
                        opacity: 1;
                        outline: 0;
                        background: white;
                        &+label {
                            opacity: 0;
                        }
                        &~.requirements {
                            max-height: 200px;
                            padding: 1.25rem 1.875rem 1.25rem;
                        }
                    }
                    &.completed{
                        background:#41d873;
                        border-bottom: 1px solid #41d873;
                    }
                }
                .requirements {
                    padding: 0 1.875rem;
                    color: #999;
                    max-height: 0;
                    transition: .28s;
                    overflow: hidden;
                    font-style: italic;
                    display: flex;
                    justify-content: center;
                    >.requirements{
                        padding: 0;
                        padding-right: 1em;
                    }
                    >label {
                        cursor: pointer;
                        &:hover{
                            &+.requirements {
                                max-height: 1.875rem;
                                padding-top:.4em;
                            }
                        }
                    }
                    >input[type="checkbox"] {
                        display: none;
                        &.todo-item-deleted {
                           & ~ label {
                                color: #ff5353 !important;
                            }
                        }
                        &.todo-item-saved {
                            & ~ label {
                                 color: #53acfb !important;
                             }
                         }
                        &:valid {
                            &+label{
                                color:#41d873;
                            }
                        }
                        &:invalid{
                            & + label{
                                color: inhert;
                            }
                        }
                    }
                }
            }
        }
    }
}