.user-info-wrapper{
    >div{
        background:#333;
        color: white;
        display: flex;
        padding: 1.25em 1.25em;
        >h3{
            flex: 1;
            font-weight: normal;
        }
        >button{
            
            background: #ff5353;
            color: inherit;
            padding: .3em .6em;
        }
    }
}