.UserDialog-Wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    background: #fcd8d4;
    background: linear-gradient(#f5e0e0, #fcd8d4);
    .UserDialog {
        display: flex;
        // justify-content: flex-end;
        // flex-direction: column;
        flex: 1;
        min-width: 48rem;
        min-height: 36rem;
        // border: 1px solid;
        border-radius: 4px;
        background: white;
        // border: 1px solid #aaa;
        box-shadow: 0 .6em 6em hsla(0, 0%, 0%, .2);
        margin: 8rem 16rem;
        .userBar{
            flex: 2;
            background-image: url('../images/form.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
        .signForm-Wrapper {
            flex: 1;
            display: flex;
            max-width: 20em;
            justify-content: space-evenly;
            flex-direction: column;
            .signInfo {
                flex:1;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}