.user-info-wrapper{
    position: fixed;
    top:0;
    left:0;
    text-align: center;
    width: 100vw;
    min-height: 2em;
    display: flex;
    justify-content: space-between;
    background: #f9fafb
}