form.signIn,
form.signUp {
    >.row {
        display: flex;
        padding: .3em 0;
        &.actions {
            padding-left: 4em;
            display: flex;
            align-items: center;
        }
        >label:first-child {
            width: 4em;
        }
    }
}
