
.TodoItem{
    padding:.5em;
    display: flex;
    align-content: center;
}
.TodoItem > .title{
    flex: 1;
    padding: 0 .5em;
}

.TodoItem > .title.completed{
    text-decoration: line-through;
}
